body {
    background-color: black !important;
}

.red {
    color: red !important;
}

.bg-red {
    background-color: red !important;
}

body::placeholder {
    color: red;
}

input:focus-visible {
    border: none !important;
    outline: none !important;

}

::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    /* Set the color of the scrollbar thumb */
}

.btn-close {
    background-color: red !important;
}

/* home */
.image-container {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.829656862745098) 14%, rgba(0, 0, 0, 0) 100%);

    /* Customize the gradient colors */
    opacity: 0.5;
    /* Adjust the opacity as desired */
}

.btn-primary {
    background-color: red !important;
    color: #fff;
    box-shadow: 0 4px 9px -4px red !important;
}

.carousel-control-prev {
    width: 7% !important;
}


#insta:hover {
    background: linear-gradient(193deg, rgba(98, 40, 215, 1) 0%, rgba(238, 42, 123, 1) 35%, rgba(249, 206, 48, 1) 100%) !important;
    -webkit-text-fill-color: transparent;
    ;
    padding: 2px;
    border-radius: 100%;

}

.anim {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.anim2 {
    animation: myAnim2 2s ease 0s 1 normal forwards;
}

@keyframes myAnim2 {
    0% {
        opacity: 0;
        transform: translateY(250px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-dialog {
    max-width: 90% !important;

}

.modal-content {
    height: 90vh !important;


}

.modal-body {
    padding: 0 !important;
}
.carousel-indicators [data-bs-target]  {
width: 8px !important;
height: 8px !important;
border-radius: 100%;
}

/* movie detail page */
.nav-tabs button {
    background: black !important;
    display: inline-block;
    border: none !important;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: white !important;



}

.nav-tabs button::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav-tabs button:hover::after {
    transform: scaleX(1);
}

.nav-tabs .nav-link.active {
    border-color: #ff0000 !important;

}

/* disabled */
.nav-tabs>button {
    font-size: 20px;
}