body {
    background-color: black !important;
}

.red {
    color: red !important;
}

.bg-red {
    background-color: red !important;
}

body::placeholder {
    color: red;
}

input:focus-visible {
    border: none !important;
    outline: none !important;

}

::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    /* Set the color of the scrollbar thumb */
}

.btn-close {
    background-color: red !important;
}

/* home */
.image-container {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.829656862745098) 14%, rgba(0, 0, 0, 0) 100%);

    /* Customize the gradient colors */
    opacity: 0.5;
    /* Adjust the opacity as desired */
}

.btn-primary {
    background-color: red !important;
    color: #fff;
    box-shadow: 0 4px 9px -4px red !important;
}

.carousel-control-prev {
    width: 7% !important;
}


#insta:hover {
    background: linear-gradient(193deg, rgba(98, 40, 215, 1) 0%, rgba(238, 42, 123, 1) 35%, rgba(249, 206, 48, 1) 100%) !important;
    -webkit-text-fill-color: transparent;
    ;
    padding: 2px;
    border-radius: 100%;

}

.anim {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.anim2 {
    animation: myAnim2 2s ease 0s 1 normal forwards;
}

@keyframes myAnim2 {
    0% {
        opacity: 0;
        transform: translateY(250px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 
.modal-header{
    border-bottom : none !important
}
.modal-content {
    background: transparent !important;

}


.carousel-indicators [data-bs-target]  {
width: 8px !important;
height: 8px !important;
border-radius: 100%;
}

/* movie detail page */
.nav-tabs button {
    background: black !important;
    display: inline-block;
    border: none !important;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: white !important;



}

.nav-tabs button::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav-tabs button:hover::after {
    transform: scaleX(1);
}

.nav-tabs .nav-link.active {
    border-color: #ff0000 !important;

}

/* disabled */
.nav-tabs>button {
    font-size: 20px;
}


/* nav offcanvas text effect  */

.span {
    
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    display: block;
    color: #cf1b1b;
    font-size: 3rem;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .span:hover{
color: #cf1b1b;
  }
  
  .span::before {
    content: "BOLLYWOOD";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .span::after {
    content: "BOLLYWOOD";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .span:hover:before {
    top: 10px;
    left: 10px;
  }
  
  .span:hover:after {
    top: -10px;
    left: -10px;
  } 

  /* span 2 */
  
  .span2 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
    color: #cf1b1b;
    font-size: 3rem;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .span2:hover{
color: #cf1b1b;
  }
  
  .span2::before {
    content: "HOLLYWOOD";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .span2::after {
    content: "HOLLYWOOD";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .span2:hover:before {
    top: 10px;
    left: 10px;
  }
  
  .span2:hover:after {
    top: -10px;
    left: -10px;
  } 

  /* carsoule\ */
  .button,
.button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, red 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

.button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, red 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
